@model LandingPage.Models.Usuario
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Dark Souls III LandingPage</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link href="~/CSS/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/Img/logo.png" style="width: 10%" alt="Bandai Namco Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <p id="link">@Html.ActionLink("Registered Users", "ListarTodos")</p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- HEADER-->
        <header class="main-header">
            <div class="background-overlay text-white py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center justify-content-center align-self-center">
                            <h1>DARK SOULS III</h1>
                            <p>The last part of the saga that revolutionized the history of videogames.</p>
                            <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                                Read More
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Img/product.jpg" alt="Imagen del Producto" class="product img-fluid d-none d-sm-block" />
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- NEWSLETTER-->
        <section class="bg-dark text-white py-5">
        </section>

        <!-- FEATURES-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card text-center border-primary">
                            <div class="card-body">
                                <h3>
                                    Feature One
                                </h3>
                                <p>
                                    You have the possibility to choose between different classes of characters.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white">
                            <div class="card-body">
                                <h3>
                                    Feature Two
                                </h3>
                                <p>
                                    As you eliminate enemies you get their souls and you get stronger.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center border-primary">
                            <div class="card-body">
                                <h3>
                                    Feature Three
                                </h3>
                                <p>
                                    Its difficulty will test your determination and skill.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white">
                            <div class="card-body">
                                <h3>
                                    Feature Four
                                </h3>
                                <p>
                                    integrate into a world on the edge of the end and be the protagonist of the destiny of this world.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--ABOUT-->
        <section class="bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="m-5">
                        <h3>
                            Why this Product?
                        </h3>
                        <p>
                            The same formula as the previous games but with all its refined systems, a 
                            more agile, flexible combat with greater attack options, a huge interconnected world full of enemies and traps that generate memorable moments.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--ACORDEON-->
        <section class="container text-center p-5">
            <div class="row">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Bandai Namco
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Bandai Namco Entertainment Inc. It is a Japanese video game development and publishing company. 
                                The company also publishes videos, music and other entertainment products related to its intellectual properties.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    FromSoftware
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                FromSoftware, Inc. It is a Japanese video game company founded in November 1986 known 
                                primarily for being the creators of the Armored Core, Demon's Souls, King's Field, Otogi, 
                                Tenchu, Dark Souls, Bloodborne, and Sekiro: Shadows Die Twice series.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Dark Souls III
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                It is an action role-playing video game developed by FromSoftware and published by Bandai Namco
                                Entertainment for PlayStation 4, Xbox One, and Microsoft Windows. It is the third installment in
                                the Souls saga, Dark Souls III was released in Japan in March 2016, and worldwide in April of the same year.

                                Dark Souls III was both a critical and a bestseller success, with critics naming it a worthy and fitting 
                                ending to the series. It is Namco Bandai's fastest-selling game in its history, selling more than 
                                three million copies worldwide in less than two months after its release.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--TEAM-->
        <section class="text-center team">
            <div class="container p-5">
                <h1 class="text-center text-white">Team</h1>
                <p class="text-white">
                    Some of the main developers of Dark Souls III, the president of the company FromSoftware, the main composer, and those responsible for the design and development of the DLC.
                </p>
                <div class="row">
                    <!-- USER TEAM -->
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Img/person.png" class="img-fluid rounded-circle w-50">
                                <h3>Hidetaka Miyazaki</h3>
                                <p>
                                    He is a Japanese video game designer and current president of the From Software video game company.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Img/person.png" class="img-fluid rounded-circle w-50">
                                <h3>Yuka Kitamura</h3>
                                <p>
                                   Best known for her works on 'Sekiro: Shadows Die Twice, Dark Souls III' and 'Bloodborne'. She is the lead composer at FromSoftware.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Img/person.png" class="img-fluid rounded-circle w-50">
                                <h3>Shigeto Hirai</h3>
                                <p>
                                    Hirai started in 2016 as the designer of Dark Souls III. After that, Shigeto Hirai took part as the designer of Dark Souls III: Ashes of Ariandel.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Img/person.png" class="img-fluid rounded-circle w-50">
                                <h3>Takeshi Suzuki</h3>
                                <p>
                                    Is a games programmer. Suzuki has been working with FromSoftware. He was involved in the development of Dark Souls III: Ashes of Ariandel.
                                </p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="p-4">
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        @RenderBody()

            <footer>
                <div class="container p-3 text-white text-center">
                    <p>
                        Copyright &copy; 2021
                    </p>
                </div>
            </footer>

        </div>








        <!-- BOOTSTRAP JAVASCRIPT -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
